<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/arch">Arch</a>
          <ul>
            <li><a href="/arch/basic_cli">Basic CLI</a></li>
            <li><a href="/arch/easter_eggs">Easter Eggs</a></li>
            <li><a href="/arch/encrypted_btrfs">Encrypted BTRFS Root w/ EFI</a></li>
            <li><a href="/arch/encrypted_dropbox">Encrypted Dropbox w/ EncFS</a></li>                
            <li><a href="/arch/encrypted_lvm">Encrypted LVM/Root</a></li>      
            <li><a href="/arch/env_variables">Environment Variables</a></li>
            <li><a href="/arch/fonts">Fonts</a></li>    
            <li><a href="/arch/authenticator">Google Authenticator</a></li>                     
            <li><a href="/arch/gpg">GPG Encryption</a></li>   
            <li><a href="/arch/pacstrap_lts">Pacstrap Linux-LTS</a></li>      
            <li><a href="/arch/tearfree_intel">Tear Free Video Intel</a></li>                                                                                 
        </ul>
        </li>  
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/bios">Bios</a>
          <ul>
            <li><a href="/bios/ferb">ferb</a></li>
            <li><a href="/bios/zbrom">zbrom</a></li>                                                   
        </ul>
        </li>              
        <li class="nav-item">
          <a class="nav-link" href="{{"/bitcoin" | relative_url }}">Bitcoin</a>
        </li>   
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/code">Code</a>
          <ul>
            <li><a href="/code/multi_video">Multi-Monitor Video Script</a></li>
            <li><a href="/code/ssh_download">SSH Download Script</a></li>                                                   
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/degoogle" | relative_url }}">DeGoogle</a>
        </li>        
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/linux">Linux</a>
          <ul>
            <li><a href="/linux/backup_dd">Backup with dd Command</a></li>
            <li><a href="/linux/disable_journal">Disable Journaling</a></li>    
            <li><a href="/linux/grub_livecd">GRUB 2 USB LiveCD Multiboot</a></li> 
            <li><a href="/linux/shrink_enc_lvm">Shrink an Encrypted LVM</a></li>   
            <li><a href="/linux/tmux">Tmux Commands</a></li>                                                                                              
        </ul>
        </li>      
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/misc">Misc</a>
          <ul>
            <li><a href="/misc/livecd_grub">Add a LiveCD to GRUB</a></li>   
            <li><a href="/misc/ubuntu_gpg">GPG Encryption in Ubuntu</a></li>            
            <li><a href="/misc/irc">IRC</a></li>  
            <li><a href="/misc/laptop_brightness">Laptop Brightness Fix</a></li>                        
            <li><a href="/misc/magic_sysrq">Magic SysRq Key</a></li>   
            <li><a href="/misc/random_girl">Random Girl</a></li>                                  
            <li><a href="/misc/windows_mbr_gpt">Windows 10 MBR to GPT</a></li>      
            <li><a href="/misc/windows_grub">Windows Entry for GRUB</a></li>                                                                                                             
        </ul>
        </li>                           
        <li class="nav-item">
          <a class="nav-link" href="{{"/search" | relative_url }}">Search</a>
        </li>        
        <li class="nav-item" id="site-category">
          <a class="nav-link" href="/security">Security</a>
          <ul>
            <li><a href="/security/luks_encryption">LUKS Drive Encryption</a></li>
            <li><a href="/security/prism-break">Prism-break</a></li>
            <li><a href="/security/secure_email">Secure Email Services</a></li>            
        </ul>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{{ "/store" | relative_url }}">Store</a>
        </li>               
      </ul>
    </div>
  </div>
</nav>
